body{
    background-color: black;
}
.page-header {
    margin-top: 0;
    opacity: 0.5;
    background-color: red;
    color: white;
}



.date {
    color: white;
    opacity: 0.2;
    font-size: 13px;
}

.save {
    float: right;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    font-family: 'raleway', 'sans-serif';
}

.post {

    padding: 30px;
    border: solid whitesmoke 1px;
    margin: 70px;
}


.post h1 a, .post h1 a:visited {
    color: paleturquoise;
    text-decoration: none;
    font-family: 'raleway', 'sans-serif';
    font-size: 30px;
    font-weight: 100;

}

.form-container{
    margin-top: 100px;
    padding: 200px;
}

.form-group{
    width: 50%;

}

.content{
    padding: 80px;
    font-size: 17px;
    font-weight: 100;
    color: white;
    opacity: 0.8;
}

blog-container{
    padding: 0px 100px 0px 100px;
}