body{
    background-color: black;
}
.page-header {
    margin-top: 0;
    opacity: 0.5;
    background-color: red;
    color: white;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: white;
    font-size: 36pt;
    text-decoration: none;
    font-family: 'raleway', 'sans-serif';
}

.date {
    color: turquoise;
}

.save {
    float: right;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    font-family: 'raleway', 'sans-serif';
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: darkred;
    font-family: 'raleway', 'sans-serif';
    font-size: 50pt;

}

.form-container{
    margin-top: 100px;
    padding: 200px;
}

.form-group{
    width: 50%;

}

.content{
    padding: 80px;
}