{% extends 'base.html' %}

{% block content %}
    <tbody>
<div class="content container">
    <div class="row">
    <div class="about-img">
    <img src="/static/css/matteo.jpg" alt="man" height= "300px" width="100%">

</div>
    </div>
</div>

            {% for post in posts %}
    <div class="blog-container">
        <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="post">

                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                </div>

</div>
    </div>
  {% endfor %}
{% endblock %}