{% extends 'base.html' %}
{% block content %}
    <body>

        <div class="jumbotron" style="background-image: url('static/css/weights.jpg');">
    <div class= "jumb-header">
        <!--<p class="fusion">FUSION</p>-->
            <h2>GOSIHFSOIDJ </h2>
    <h3>ieDJOFISDJFNSBJHGUDJ</h3>
        <br>
        <button class="button-membership">Connect with instructors</button>

    </div>
        </div>

        <div class="register-js">
            <div class="row">
                <div class="signup col-md-4">
                    <h1>LOREM IPSUM DOLOR SIT AMET, CONSECTUETUR ADIPISICING ELIT.</h1>
                </div>

                 <div class="signup1 col-md-4">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aliquid consequatur cupiditate eos expedita iste laborum laudantium magnam minus nemo neque, quas quia quibusdam quod sit, tempora voluptatum? Nemo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam, consequatur corporis dolorem hic iste nam nemo provident similique. Amet architecto placeat quasi quidem similique! Cupiditate dolorum inventore labore rem.</lorewm></h4>
                </div>

                <div class="signup2 col-md-4">
                    <p>FIND OUT MORE ABOUT MEMBERSHIPS</p>
            <button class="button-membership">MEMBERSHIPS</button>
                </div>

            </div>
        </div>

        <div class="fitness-tracking">
        <div class="row">



     <div class="box sidebar col-md-4">
         <h3>HIGH-TECH EQUIPMENT</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>


    <div class="box sidebar1 col-md-4">
        <h3>INCLUDED CLASSES</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>

    <div class="box sidebar2 col-md-4">
        <h3>FACILITIES OFFERED</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>

	</div>
        </div>

    <div class="blog-link">


	<div class="row">

        <div class="col-md-4">
            <h2>Get involved with fitness tracking, calendar of activities, community forums and more.</h2>
            <h4>Sign up for a free account online to start moving Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci beatae culpa cum debitis, dolorem eos excepturi iste laboriosam natus necessitatibus odit qui quia quidem quisquam tempore temporibus vitae? Fuga, vero!</h4>
		</div>

		<div class="col-md-4">
            <h2>Get involved with fitness tracking, calendar of activities, community forums and more.</h2>
            <h4>Sign up for a free account online to start moving Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci beatae culpa cum debitis, dolorem eos excepturi iste laboriosam natus necessitatibus odit qui quia quidem quisquam tempore temporibus vitae? Fuga, vero!</h4>
		</div>

        <div class="col-md-4">
            <h2>Get involved with fitness tracking, calendar of activities, community forums and more.</h2>
            <h4>Sign up for a free account online to start moving Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci beatae culpa cum debitis, dolorem eos excepturi iste laboriosam natus necessitatibus odit qui quia quidem quisquam tempore temporibus vitae? Fuga, vero!</h4>

        </div>


	</div>

    </div>

    <div class="membership-link">
    <div class="container-fluid">


	<div class="row">

		<div class="col-md-12">
			<p>FIND OUT MORE ABOUT MEMBERSHIPS</p>
            <button class="button-membership">MEMBERSHIPS</button>
		</div>
	</div>
</div>
        </div>

    <div class="footer-social">
    <div class="container-fluid">

	<div class="row">

        <div class="col-md-2">
			<img src="/static/css/logo.jpg" alt="fitness" height="150px" width="150px">
			<p>Copyright © 2017 Fusion Fitness Claire Mitchell. All rights reserved.</p>
        </div>
		<div class="col-md-2">
			<h4>Facilities</h4>
            <ul>
                <li>aasoidfj</li>
                <li>aasoidfj</li>
                <li>aasoidfj</li>
                <li>aasoidfj</li>
            </ul>

		</div>

        <div class="col-md-2">
			<h4>Facilities</h4>
            <ul>
                <li>aasoidfj</li>
                <li>aasoidfj</li>
                <li>aasoidfj</li>
                <li>aasoidfj</li>
            </ul>

		</div>

        <div class="col-md-2">
			<h4>Facilities</h4>
            <ul>
                <li>aasoidfj</li>
                <li>aasoidfj</li>
                <li>aasoidfj</li>
                <li>aasoidfj</li>
            </ul>

		</div>

		<div class="col-md-2">
			<h4>Contact Us</h4>
			<ul>
                <li>aasoidfj</li>
                <li>aasoidfj</li>
                <li>aasoidfj</li>
                <li>aasoidfj</li>
            </ul>

		</div>


		<div class="col-md-2">
			<h4>Jobs</h4>
			<ul>
                <li>aasoidfj</li>
                <li>aasoidfj</li>
                <li>aasoidfj</li>
                <li>aasoidfj</li>
            </ul>
		</div>
	</div>
</div>
    </div>
<hr>
    </body>
{% endblock %}