{% extends 'base.html' %}
{% block content %}
    <body>


    <div class="jumbotron" style="background-image: url('static/css/weights.jpg');">
        <div class="jumb-header">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1 class="fusion">FUSION</h1>
                    <div class=" hidden-sm hidden-xs">
                        <h3> Fusing affordable memberships, high-spec nationwide gyms and top of the range equipment.
                            Making health
                            and fitness accessible to everyone. There isn't a catch. </h3>
                        <br>
                        <a href="/membership/">
                            <button class="memb-button">MEMBERSHIPS</button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="register-js">

        <div class="row">
            <div class="signup col-md-4 col-sm-4 col-xs-12">
                <h1>"Fusion offers fantastic fitness facilities with enthusiastic, friendly staff." - ukactive </h1>
            </div>

            <div class="signup1 col-md-4 col-sm-4 col-xs-12">
                <h4>Fusing affordable memberships, high-spec nationwide gyms and top of the range equipment. Making
                    health and fitness accessible to everyone. Believing in the physical and emotional power of a daily
                    workout. There isn't a catch. </h4>
            </div>
            <div class="signup2 col-md-4 col-sm-4 col-xs-12">
                <h2>FIND OUT MORE ABOUT OUR INSTRUCTORS</h2>

                <button id="button-membership">CONNECT WITH INSTRUCTORS</button>
            </div>
        </div>
    </div>


    <!-- The Modal -->
    <div id="theModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>

            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-weight:100"> Please give us a call</h1>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="red-box">
                        <h3 style="font-weight:100; text-align: center;"> Emily: 07645789376</h3>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="grey-box">
                        <h3 style="font-weight: 100"> Josh: 07562456387</h3>

                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="fitness-tracking">

        <div class="row">

            <div class="box sidebar col-md-4 col-sm-4 col-xs-12">
                <h3>THE BLOG</h3>
                <p>Keep on top of our latest fitness tips and articles. Read about the health benefits of cheese and the
                    tennis courts hidden in the strangest places.</p></div>


            <div class="box sidebar1 col-md-4 col-sm-4 col-xs-12">
                <h3>THE EQUIPMENT</h3>
                <p>Our state-of-the-art equipment is designed with the latest technology, combining innovative and
                    transformational solutions to push your training to the next level. </p></div>

            <div class="box sidebar2 col-md-4 col-sm-4 col-xs-12">
                <h3>THE INSTRUCTORS</h3>
                <p>Our team have many years of combined experience between them and can offer flexible hours to suit
                    your work and needs.</p></div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-4 hidden-sm hidden-xs blog-image">
            <a href="/blog/"><img class="image-responsive" src="/static/css/brooke.jpg" alt="bikes" style="width:100%"></a>
        </div>

        <div class="col-md-4 hidden-sm hidden-xs equip-image">
            <img class="image-responsive" src="/static/css/martin.jpg" alt="bikes" style="width:100%">

        </div>

        <div class="col-md-4 hidden-sm hidden-xs instruct-image">
            <img class="image-responsive" src="/static/css/roya.jpg" alt="bikes" style="width:100%">


        </div>
    </div>


    <div class="footer-social">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12 fusion-footer">
                <p>Copyright © 2017 Fusion Fitness Claire Mitchell. All rights reserved.</p>
            </div>


        </div>
    </div>


    </body>
{% endblock %}