{% extends "base.html" %}
{% block content %}

        <tbody>

    <div class="row">
        <div class="col-md-4">
        <div class="col-md-4">
        <div class="col-md-4">

        </div>
        </div>
        </div>
    </div>


            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>${{ product.price }}</td>
                    <td><form action="/payment-accepted/" method="POST">

 {%csrf_token%}
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_zTwShEXw5Rg0jeMQ264WVyxR"
                    data-amount="{% widthratio product.price 1 100 %}"
                    data-name="{{ product.name }}"
                    data-description="{{ product.description }}"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-zip-code="true"
                    data-currency="gbp">
                </script>
                    </form></td>
                </tr>
            {% endfor %}
        </tbody>

{% endblock %}