{% extends "base.html" %}
{% block content %}
    <tbody>

    <div class="memb-header">
        <div class="row">
            <div class="col-md-12">
                <h2 class="memb-head"> FUSION MEMBERSHIP </h2>
                <p>At Fusion, we offer memberships to suit those on a budget and those who want everything taken care
                    of. What’s more, we won’t tie you in to a long term contract, giving you greater flexibility. </p>
            </div>
        </div>
    </div>

    {% for product in products %}
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="membership-box">
                <h1 class="product-head">{{ product.name }}</h1>
                <p>{{ product.description|safe }}</p>
                <h2 class="product-price">£{{ product.price }}</h2>
                {% if user.is_authenticated %}
                    <form action="/payment-accepted/" method="POST">

                        {% csrf_token %}
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_zTwShEXw5Rg0jeMQ264WVyxR"
                                data-amount="{% widthratio product.price 1 100 %}"
                                data-name="{{ product.name }}"
                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                data-locale="auto"
                                data-zip-code="true"
                                data-currency="gbp">
                        </script>
                    </form>
                {% else %}
                    <a href="/login/">
                        <button class="button-login">Log In</button>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </tbody>

{% endblock %}