{% extends "base.html" %}
{% block content %}

        <tbody>


            {% for product in products %}
                <div class="membership-box col-md-4 col-sm-4">
                    <h1>{{ product.name }}</h1>
                    <p>{{ product.description }}</p>
                    <h2>${{ product.price }}</h2>
                    <form action="/payment-accepted/" method="POST">

 {%csrf_token%}
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_zTwShEXw5Rg0jeMQ264WVyxR"
                    data-amount="{% widthratio product.price 1 100 %}"
                    data-name="{{ product.name }}"
                    data-description="{{ product.description }}"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-zip-code="true"
                    data-currency="gbp">
                </script>
                    </form>
                </div>
            {% endfor %}
        </tbody>

{% endblock %}